h1, h2 {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 15px;
}


// font-family: 'Lora', serif;
// font-family: 'Montserrat', sans-serif;