body {
    width: 100%;
    background-color: $bg_color;
    .main_wrap {
        margin: 8%;
        padding: 5%;
        background-color: #FFF;
        .article_wrap {
            &+.article_wrap {
                margin-top: 20px;
            }
        }
    }
}